<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">OFICINAS</h1>
</div>

<div ng-controller="OficinasIsspol as vm">

    <div class="bg-light lter b-b wrapper-md">
        <div class="hbox text-left b-b b-light text-sm">
            <button ng-if="!vm.objOficina && !vm.objOficinaVi ? true:false"
                    class="pull-rigth btn m-b-xs btn-sm btn-dark btn-addon "
                    type="reset" ng-click="vm.nuevaOficina()">
                <i class="fa fa-plus m-b-xs  "></i>
                <span>Nuevo</span>
            </button>

            <button ng-if="vm.objOficina" class="pull-rigth btn m-b-xs btn-sm btn-success btn-addon "
                    type="submit" ng-click="vm.guardar(vm.objOficina)">
                <i class="fa fa-save m-b-xs "></i>
                <span>Guardar</span>
            </button>
            <button ng-if="vm.objOficina || vm.objOficinaVi ? true:false "
                    class="pull-rigth btn m-b-xs btn-sm btn-warning btn-addon"
                    type="submit" ng-click="vm.cancelar()">
                <i class="fa fa-ban m-b-xs"></i>
                <span>Cancelar</span>
            </button>


        </div>
    </div>

    <div ng-if="!vm.objOficina" class="panel panel-defaul panel-body">

        <div ng-if="vm.objOficinaVi">
            <div class="panel-body">
                <div class="row row-fluid ">
                    <div class="col-md-2 bg-primary text-right" style="border: solid currentColor 1px; height: 26px;">
                        <label>Tipo:</label>
                    </div>
                    <div class="col-md-5 bg-light">
                        <label>{{vm.objOficinaVi.tipoOficina.nombre}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 bg-primary text-right" style="border: solid currentColor 1px; height: 26px;">
                        <label>Nombre:</label>
                    </div>
                    <div class="col-md-5 bg-light">
                        <label>{{vm.objOficinaVi.nombre}}</label>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-2 bg-primary text-right" style="border: solid currentColor 1px; height: 26px;">
                        <label>Ciudad:</label>
                    </div>
                    <div class="col-md-5 bg-light">
                        <label>{{vm.objOficinaVi.ciudad.nombre}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 bg-primary text-right" style="border: solid currentColor 1px; height: 26px;">
                        <label>Direcci&oacute;n:</label>
                    </div>
                    <div class="col-md-5 bg-light">
                        <label>{{vm.objOficinaVi.direccion}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 bg-primary text-right" style="border: solid currentColor 1px; height: 26px;">
                        <label>Telef&oacute;no:</label>
                    </div>
                    <div class="col-md-5 bg-light">
                        <label>{{vm.objOficinaVi.telefono}}</label>
                    </div>
                </div>

            </div>
        </div>

        <div ng-if="!vm.objOficinaVi">

            <table class="table table-condensed table-bordered table-striped"
                   show-filter="true">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>TIPO</th>
                    <th>NOMBRE</th>
                    <th>CIUDAD</th>
                    <th>DIRECCI&Oacute;N</th>
                    <th>TEL&Eacute;FONO</th>
                    <th>OPCIONES</th>
                </tr>
                </thead>

                <tr ng-repeat="iterador in vm.lstOficinas">
                    <td>{{iterador.idOficina}}</td>
                    <td>{{iterador.tipoOficina.nombre}}</td>
                    <td>{{iterador.nombre}}</td>
                    <td>{{iterador.ciudad.nombre}}</td>
                    <td>{{iterador.direccion}}</td>
                    <td>{{iterador.telefono}}</td>
                    <td>
                        <div class="text-center" style="width: 200px">
                            <button class="btn btn-info btn-xs"
                                    ng-click="vm.editarOficina(iterador,$index)">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                            <button class="btn btn-primary btn-xs"
                                    ng-click="vm.visualiazarOficinas(iterador,$index)">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </button>

                            <button class="btn btn-danger btn-xs"
                                    ng-click="vm.eliminarOficina($index)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <form ng-if="vm.objOficina" name="formOficina" class="form-validation">
        <div >

            <div>

                <tabset class="tab-container">
                    <tab heading="DATOS DE OFICINA">
                        <div >
                            <div class="row">
                                <div class="col-sm-10">
                                    <label class="l-h-0x">Id: </label>
                                    <div>
                                        <input type="number" ng-model="vm.objOficina.idOficina"
                                               class="form-control" placeholder="Ingrese el Id" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="line-sm"></div>
                            <div class="row">
                                <div class="col-sm-10">
                                <label class="l-h-0x">*Tipo: </label>
                                <div >
                                    <select class="form-control" name="mySelect" id="mySelect1"
                                            ng-options="option.nombre for option in vm.lstTipos track by option.id"
                                            ng-model="vm.objOficina.tipoOficina" required>
                                    </select>
                                </div>
                                </div>
                            </div>

                            <div class="line-sm"></div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <label class="l-h-0x">*Nombre: </label>
                                    <div>
                                        <input type="text" ng-model="vm.objOficina.nombre"
                                               class="form-control"
                                               placeholder="Ingrese el nombre de la Oficina" required/>
                                    </div>
                                </div>
                            </div>

                            <div class="line-sm"></div>
                            <div class="row">
                                <div class="col-sm-10">
                                <label class="l-h-0x">*Ciudad: </label>
                                <div >
                                    <select class="form-control" name="mySelect" id="mySelect"
                                            ng-options="option.nombre for option in vm.lstCiudades track by option.id"
                                            ng-model="vm.objOficina.ciudad" required>
                                    </select>
                                </div>
                                </div>
                            </div>

                            <div class="line-sm"></div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <label class="l-h-0x">*Direcci&oacute;n: </label>
                                    <div>
                                        <input type="text" ng-model="vm.objOficina.direccion"
                                               class="form-control" placeholder="Ingrese la direcci&oacute;n"
                                               required/>
                                    </div>
                                </div>
                            </div>


                            <div class="line-sm"></div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <label class="l-h-0x">*Tel&eacute;fono: </label>
                                    <div>
                                        <input type="text" ng-model="vm.objOficina.telefono"
                                               class="form-control" placeholder="Ingrese el tel&eacute;fono"
                                               required/>
                                    </div>
                                </div>
                            </div>
                            <div class="line-sm"></div>
                            <div class="col-sm-10 alert alert-info">
                                <strong>NOTA:</strong> Los campos se&ntilde;alados con (*) son obligatorios.
                            </div>
                            <div class="line-sm"></div>
                        </div>
                    </tab>
                </tabset>

            </div>

        </div>


    </form>

</div>