<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">USUARIOS Y PERFILES</h1>
</div>

<div ng-controller="UsuariosPerfiles as vm">

    <div class="bg-light lter b-b wrapper-md">
        <div class="hbox text-left b-b b-light text-sm">
            <button ng-if="!vm.objUsuario" class="pull-rigth btn m-b-xs btn-sm btn-dark btn-addon"
                    type="reset" ng-click="vm.nuevo()">
                <i class="fa fa-plus"></i>
                <span>Nuevo</span>
            </button>

            <button ng-if="vm.objUsuario" class="pull-rigth btn m-b-xs btn-sm btn-dark btn-addon "
                    type="submit" ng-click="vm.nuevaLinea()">
                <i class="fa fa-bars block m-b-xs fa-2x "></i>
                <span>Nuevo</span>
            </button>
            <button ng-if="vm.objUsuario" class="pull-rigth btn m-b-xs btn-sm btn-success btn-addon "
                    type="submit" ng-click="vm.guardar()">
                <i class="fa fa-save block m-b-xs fa-2x "></i>
                <span>Guardar</span>
            </button>
            <button ng-if="vm.objUsuario && !vm.mostarBtnCancelaLin ? true:false"
                    class="pull-rigth btn m-b-xs btn-sm btn-warning btn-addon"
                    type="submit" ng-click="vm.cancelar()">
                <i class="fa fa-ban block m-b-xs fa-2x "></i>
                <span>Cancelar</span>
            </button>

            <button ng-if="vm.objUsuario && vm.mostarBtnCancelaLin ? true:false"
                    class="pull-rigth btn m-b-xs btn-sm btn-info btn-addon"
                    type="submit" ng-click="vm.cancelarIngresoLineas()">
                <i class="fa fa-ban block m-b-xs fa-2x "></i>
                <span>Cancelar</span>
            </button>


        </div>
    </div>


    <div ng-if="!vm.objUsuario" class="panel panel-defaul panel-body">

        <table class="table table-condensed table-bordered table-striped">

            <thead>
            <tr>
                <th>ID</th>
                <th>USUARIO</th>
                <th>IDENTIFICACI&Oacute;N</th>
                <th>OFICINA</th>
                <th>CARGO</th>
                <th>SUPERIOR</th>
                <th>ESTADO</th>
                <th>ACCI&Oacute;N</th>
            </tr>
            </thead>

            <tr ng-repeat="iterador in vm.lstUsers">
                <td class="text-center">{{iterador.idUsuario}}</td>
                <td class="text-center">{{iterador.nombre}}</td>
                <td class="text-center">{{iterador.identificacion}}</td>
                <td class="text-center">{{iterador.oficina.nombre}}</td>
                <td class="text-center">{{iterador.cargo.nombre}}</td>
                <td class="text-center">{{iterador.superior.nombre}}</td>
                <td class="text-center">{{iterador.estado.nombre}}</td>

                <td>
                    <div class="text-center">
                        <button class="btn btn-info btn-xs"
                                ng-click="vm.editarRegistro(iterador,$index)">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                        <button class="btn btn-danger btn-xs"
                                ng-click="vm.elimiarRegistro($index)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>

                    </div>
                </td>
            </tr>
        </table>
    </div>


    <div class="panel bg-light " ng-if="vm.objUsuario">
        <div class="row">
            <div class="col-sm-9">
                <tabset class="tab-container" ng-init="steps={step1:true, step2:false, step3:false}">


                    <tab heading="USUARIOS" select="vm.seleccionarTab(1);">
                        <form id="formUsuarios" name="formUsuarios" class="form-validation">
                            <div>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <label class="l-h-0x">
                                            Id
                                        </label>
                                        <div>
                                            <input type="number" ng-model="vm.objUsuario.idUsuario" class="form-control"
                                                   required>
                                        </div>

                                    </div>

                                </div>

                                <div class="line-sm"/>

                                <div class="row">

                                    <div class="col-sm-10">
                                        <label class="l-h-0x" style="height: 10%;">
                                            * Usuario
                                        </label>

                                        <div>
                                            <input ng-model="vm.objUsuario.nombre" class="col-0 form-control" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="line-sm"/>

                                <div class="row">
                                    <div class="col-sm-10">
                                        <label class="l-h-0x">
                                            * Estado
                                        </label>
                                        <div>
                                            <div>
                                                <select class="form-control"
                                                        ng-options="estado.descripcion for estado in vm.lstEstado track by estado.idEstadoUsuario"
                                                        ng-model="vm.objUsuario.estado">
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="line-sm"/>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <label class="l-h-0x">
                                            * N&uacute;mero Identificaci&oacute;n
                                        </label>
                                        <div>
                                            <input mask="9999999999" ng-model="vm.objUsuario.identificacion"
                                                   class="form-control"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                                <div class="line-sm"/>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <label class="l-h-0x">
                                            e-mail:
                                        </label>
                                        <div>
                                            <input ng-model="vm.objUsuario.email" type="email" class="form-control">
                                        </div>

                                    </div>

                                </div>

                                <div class="line-sm"/>

                                <div class="row">
                                    <div class="col-sm-10">
                                        <label class="l-h-0x">
                                            * Oficina
                                        </label>
                                        <div>
                                            <div>
                                                <select class="form-control"
                                                        ng-options="oficina.nombre for oficina in vm.lstOficinas track by oficina.idOficina"
                                                        ng-model="vm.objUsuario.oficina"></select>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="line-sm"/>

                                <div class="row">
                                    <div class="col-sm-10">
                                        <label class="l-h-0x">
                                            * Cargo
                                        </label>

                                        <div>
                                            <div>
                                                <select class="form-control"
                                                        ng-options="cargo.nombre for cargo in vm.lstCargos track by cargo.id"
                                                        ng-model="vm.objUsuario.cargo"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="line-sm"/>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <label class="l-h-0x">
                                            *Superior
                                        </label>
                                        <div>
                                            <div>
                                                <select class="form-control"
                                                        ng-options="superior.nombre for superior in vm.lstSuperiores track by superior.idUsuario"
                                                        ng-model="vm.objUsuario.superior"></select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="line-sm"/>
                            <div class="alert alert-info col-sm-10">
                                <strong>NOTA:</strong> Los campos se&ntilde;alados con (*) son obligatorios.
                            </div>


                            <div class="line-sm"/>
                            <div>
                                <div ng-init="vm.accessConfig=false">
                                    <label class="col-sm-10 font-bold"> CONFIGURAR ACCESO</label>
                                    <div class="line"></div>
                                    <div ng-init="vm.accessConfig=false">
                                        <label class="i-switch i-switch-md bg-info m-t-xs m-r">

                                            <input ng-model="vm.accessConfig"
                                                   type="checkbox" checked> <i></i>
                                        </label>
                                    </div>
                                </div>
                                <div ng-if="vm.accessConfig">

                                    <div class="line"></div>
                                    <div class="form-group">
                                        <label class="col-sm-10 control-label">Desde cualquier estaci&oacute;n?</label>
                                        <div>
                                            <label class="i-switch i-switch-md bg-warning m-t-xs m-r">
                                                <input ng-model="vm.objUsuario.cualquierEstacion"
                                                       type="checkbox" checked> <i></i>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="line"></div>
                                    <div class="form-group">
                                        <label class="col-sm-10 control-label">Horario:</label>
                                        <div>
                                            <select class="form-control"
                                                    ng-options="horario.descripcion for horario in vm.lstHorarios track by horario.idHorario"
                                                    ng-model="vm.objUsuario.horario"></select>
                                        </div>
                                    </div>

                                    <div class="line"></div>
                                    <div class="form-group">
                                        <label class="col-sm-10 control-label">DashBoard Inicial:</label>
                                        <div>
                                            <select class="form-control"
                                                    ng-options="dashBoard.nombre for dashBoard in vm.lstDashBoard track by dashBoard.id"
                                                    ng-model="vm.objUsuario.dashBoard"></select>
                                        </div>
                                    </div>

                                    <div class="line"></div>
                                    <div class="form-group">
                                        <label class="col-sm-10 control-label">Tiempo de inactividad:</label>
                                        <div>
                                            <input type="number" class="form-control"
                                                   ng-model="vm.objUsuario.tiempoInactividad"/>
                                        </div>
                                    </div>


                                </div>
                            </div>


                            <div class="line"></div>
                            <div>
                                <div ng-init="vm.password=false">

                                    <label class="col-sm-10 font-bold">CONTRASE&Ntilde;A</label>
                                    <div class="line"></div>
                                    <div>
                                        <label class="i-switch i-switch-md bg-info m-t-xs m-r"> <input
                                                ng-model="vm.password" type="checkbox" checked/> <i></i>
                                        </label>
                                    </div>

                                </div>

                                <div class="panel-body" ng-if="vm.password">

                                    <div class="line"></div>
                                    <div class="form-group">
                                        <label class="col-sm-10 control-label">Usuario debe cambiar el password desde el
                                            pr&oacute;ximo
                                            logon</label>
                                        <div>
                                            <label class="i-switch i-switch-md bg-primary m-t-xs m-r">
                                                <input ng-model="vm.objUsuario.modificarPassword"
                                                       type="checkbox" checked> <i></i>
                                            </label>
                                        </div>
                                    </div>


                                    <div class="line"></div>
                                    <div class="form-group">
                                        <label class="col-sm-10 control-label">Usuario no puede cambiar el
                                            password</label>
                                        <div>
                                            <label class="i-switch i-switch-md bg-primary m-t-xs m-r">
                                                <input ng-model="vm.objUsuario.nomodificarPassword"
                                                       type="checkbox" checked> <i></i>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="line"></div>
                                    <div class="form-group">
                                        <label class="col-sm-10 control-label">Password nunca expira</label>
                                        <div>
                                            <label class="i-switch i-switch-md bg-primary m-t-xs m-r">
                                                <input ng-model="vm.objUsuario.expiracionPassword"
                                                       type="checkbox" checked> <i></i>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="line"></div>


                        </form>
                    </tab>

                    <tab heading="PERFILES" disabled="formUsuarios.$invalid"  select="vm.seleccionarTab(2);"
                         ng-click="vm.notificacionBloqueo();">

                        <form id="formPerfiles" name="formPerfiles" class="form-validation">
                            <div ng-if="vm.usrPerfil" class="panel wrapper-md">
                                <div class="row  ">
                                    <div class="col-sm-10">
                                        <label class="l-h-0x">
                                           *PERFIL
                                        </label>
                                    </div>

                                    <div >
                                        <select class="form-control"
                                                ng-options="perfil.nombrePerfil for perfil in vm.lstPerfiles track by perfil.idPerfil"
                                                ng-model="vm.usrPerfil.perfil"></select>
                                    </div>

                                </div>


                                <div class="line-sm"/>
                                <div class="row  ">

                                    <div class="col-sm-10">
                                        <label class="l-h-0x">
                                            *ESTADO
                                        </label>
                                    </div>

                                    <div>
                                        <select class="form-control"
                                                ng-options="estado.nombreEstado for estado in vm.lstEstadoPerfil track by estado.idEstado"
                                                ng-model="vm.usrPerfil.estado"></select>
                                    </div>
                                </div>

                                <div class="line-sm"/>
                                <div class="row  ">

                                    <div class="col-sm-10">
                                        <label class="l-h-0x">
                                            TIENE VENCIMIENTO:
                                        </label>
                                    </div>

                                    <div >
                                        <label class="i-switch i-switch-md bg-info m-t-xs m-r">
                                            <input type="checkbox" ng-model="vm.usrPerfil.vencimiento" checked/>
                                            <i></i>
                                        </label>
                                    </div>
                                </div>

                                <div class="line-sm"/>
                                <div ng-if="vm.usrPerfil.vencimiento" class="row">

                                    <div class="col-sm-10">
                                        <label class="l-h-0x">
                                            FECHA VENCIMIENTO:
                                        </label>
                                    </div>

                                    <div>
                                        <input ng-model="vm.usrPerfil.fechaVencimiento" type="date"
                                               placeholder=" a&ntilde;o /mes/d&iacute;a" class="col-sm-3 form-control"
                                               required>
                                    </div>

                                </div>

                            </div>


                            <div ng-if="!vm.usrPerfil" class="panel panel-defaul panel-body">

                                <div>

                                    <table class="table table-condensed table-bordered table-striped"
                                           show-filter="true">

                                        <thead>
                                        <tr>
                                            <th>Perfil</th>
                                            <th>Estado</th>
                                            <th>Vencimiento</th>
                                            <th>Fecha de vencimiento</th>
                                            <th>Creaci&oacute;n usuario</th>
                                            <th>Creaci&oacute;n fecha</th>
                                        </tr>
                                        </thead>

                                        <tr ng-repeat="iterador in vm.objUsuario.lstPerfiles">
                                            <td class="text-center" data-title="TIPO">{{iterador.perfil.nombrePerfil}}
                                            </td>
                                            <td class="text-center" data-title="ANTERIOR">{{iterador.estado.nombre}}
                                            </td>
                                            <td class="text-center" data-title="VENCIMIENTO">{{iterador.vencimiento ==
                                                true?'Si':'No'}}
                                            </td>
                                            <td class="text-center" data-title="FECHAVENCIMIENTO">
                                                {{iterador.fechaVencimiento}}
                                            </td>
                                            <td class="text-center" data-title="CREACIONUSUARIO">
                                                {{iterador.creacionUsuario.nombre}}
                                            </td>
                                            <td class="text-center" data-title="CREACIONFECHA">
                                                {{iterador.creacionFecha}}
                                            </td>
                                            <td>
                                                <div class="text-center">
                                                    <button class="btn btn-info btn-xs"
                                                            ng-click="vm.editarPerfil(iterador,$index)">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs"
                                                            ng-click="vm.eliminarPerfil($index)">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </button>

                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>

                        </form>

                    </tab>

                    <tab heading="ESTACIONES" disabled="formUsuarios.$invalid" select="vm.seleccionarTab(3);"
                         ng-click="vm.notificacionBloqueo();">

                        <form id="formEstaciones" name="formEstaciones" class="form-validation">

                            <div ng-if="vm.usrEstacion" class="panel wrapper-md">


                                <div class="row  ">

                                    <div class="col-sm-10">
                                        <label class="l-h-0x ">
                                            *Estaci&oacute;n:
                                        </label>
                                    </div>

                                    <div >
                                        <select class="form-control"
                                                ng-options="estacion.descripcion for estacion in vm.lstEstaciones track by estacion.idEstacion"
                                                ng-model="vm.usrEstacion.estacion">

                                        </select>
                                    </div>

                                    <div class="line"/>
                                </div>
                            </div>
                            <div ng-if="!vm.usrEstacion" class="panel panel-defaul panel-body">

                                <div>

                                    <table class="table table-condensed table-bordered table-striped"
                                           show-filter="true">

                                        <thead>
                                        <tr>
                                            <th>Estacion</th>
                                            <th>Fecha Creacion</th>
                                            <th>Creaci&oacute;n usuario</th>
                                            <th>Fecha Modificacion</th>
                                            <th>Usuario Modificacion</th>

                                        </tr>
                                        </thead>

                                        <tr ng-repeat="iterador in vm.objUsuario.lstEstaciones">
                                            <td class="text-center" data-title="ESTACION">
                                                {{iterador.estacion.descripcion}}
                                            </td>
                                            <td class="text-center" data-title="FECHA CREACION">
                                                {{iterador.creacionFecha}}
                                            </td>
                                            <td class="text-center" data-title="USUARIO CREACION">
                                                {{iterador.creacionUsuario.nombre}}
                                            </td>
                                            <td class="text-center" data-title="FECHA MODIFICACION">
                                                {{iterador.creacionFecha}}
                                            </td>
                                            <td class="text-center" data-title="USUARIO MODIFICACION">
                                                {{iterador.creacionUsuario.nombre}}
                                            </td>
                                            <td>
                                                <div class="text-center">
                                                    <button class="btn btn-info btn-xs"
                                                            ng-click="vm.editarEstacion(iterador,$index)">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                    </button>
                                                    <button class="btn btn-danger btn-xs"
                                                            ng-click="vm.eliminarEstacion($index)">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </button>

                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>

                        </form>
                    </tab>

                    <tab heading="ACTIVIDAD" disabled="formUsuarios.$invalid" select="vm.seleccionarTab(4);"
                         ng-click="vm.notificacionBloqueo();">

                        <div class="panel panel-defaul panel-body">

                            <div>

                                <table class="table table-condensed table-bordered table-striped" show-filter="true">

                                    <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Anterior</th>
                                        <th>Nuevo</th>
                                        <th>Creaci&oacute;n usuario</th>
                                        <th>Creaci&oacute;n fecha</th>
                                    </tr>
                                    </thead>

                                    <tr ng-repeat="iterador in vm.logActividades">
                                        <td class="text-center" data-title="TIPO">{{iterador.tipoActividad}}</td>
                                        <td class="text-center" data-title="ANTERIOR">{{iterador.anteriorActividad}}
                                        </td>
                                        <td class="text-center" data-title="NUEVO">{{iterador.nuevoActividad}}</td>
                                        <td class="text-center" data-title="CREACIONUSUARIO">
                                            {{iterador.creacionUsuarioActividad}}
                                        </td>
                                        <td class="text-center" data-title="CREACIONFECHA">
                                            {{iterador.creacionFechaActividad}}
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </tab>

                    <tab heading="OFICINAS" disabled="formUsuarios.$invalid" select="vm.seleccionarTab(5);"
                         ng-click="vm.notificacionBloqueo();">

                        <form id="formOficinas" name="formOficinas" class="form-validation">

                            <div ng-if="vm.object" class="panel wrapper-md">
                                <div>
                                    <div>
                                        <div class="col-sm-10">
                                            <label class="l-h-0x">Oficina: </label>
                                            <div >
                                                <select class="form-control" name="mySelect"
                                                        ng-options="oficina.nombre for oficina in vm.lstOficinas track by oficina.idOficina"
                                                        ng-model="vm.object.oficina"></select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="line"/>
                            </div>

                            <div ng-if="!vm.object">
                                <table class="table table-condensed table-bordered table-striped">

                                    <thead>
                                    <tr>
                                        <th>Oficina</th>
                                        <th>Creaci&oacute;n usuario</th>
                                        <th>Creaci&oacute;n fecha</th>
                                        <th>Modifica usuario</th>
                                        <th>Modifica fecha</th>
                                    </tr>
                                    </thead>

                                    <tr ng-repeat="iterador in vm.objUsuario.lstOficinas">
                                        <td class="text-center" data-title="OFICINA">{{iterador.oficina.nombre}}</td>
                                        <td class="text-center" data-title="CREACIONUSUARIO">
                                            {{iterador.creacionUsuario.nombre}}
                                        </td>
                                        <td class="text-center" data-title="CREACIONFECHA">{{iterador.creacionFecha}}
                                        </td>
                                        <td class="text-center" data-title="MODIFICAUSUARIO">
                                            {{iterador.creacionUsuario.nombre}}
                                            x
                                        </td>
                                        <td class="text-center" data-title="MODIFICAFECHA">{{iterador.creacionFecha}}
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <button class="btn btn-info btn-xs"
                                                        ng-click="vm.editarOficina(iterador,$index)">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                </button>
                                                <button class="btn btn-danger btn-xs"
                                                        ng-click="vm.eliminarOficina($index)">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </form>
                    </tab>


                </tabset>
            </div>
            </br>
            </br>
            <div ng-if="vm.activarFoto== 1 ? true:false" class="col-sm-2 text-center">
                <a
                        class="block panel padder-v bg-white-opacity item">
									<span class="font-thin font-thin h1 block">
									<i class="fa fa-cloud-upload text-muted m-r-sm"></i>
									</span>
                    <span
                            class="text-muted text-xs">Subir Imagen</span> <span
                        class="bottom text-right w-full"> <i
                        class="fa fa-cloud-upload text-muted m-r-sm"></i>
								</span>
                </a>
            </div>
        </div>
    </div>
</div>
